<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/muhammedcomen/IdeaProjects/FieldNotes">
        <classes>
            <class name="TESTS.FieldNotesHomeTest"><methods><include name="testProductCatalogue"/><include name="testHome"/><include name="testGoingToProducts"/><include name="testHeadingToLimitedEditPage"/></methods></class>
            <class name="TESTS.LimitedEditionTest"><methods><include name="testPresenceOfTheTitle"/></methods></class>
        </classes>
    </test>
</suite>
